---
import { Waline } from './Waline'
import { waline } from '@/config.json'
import SectionBlock from '@/components/SectionBlock.astro'
---

<div class="p-4 rounded-xl border border-primary">
  <SectionBlock>
    {waline.serverURL && <Waline {...waline} client:visible />}
  </SectionBlock>
</div>
