---
import { motion } from 'framer-motion'
import SubCategoryList from './SubCategoryList.astro'

interface Props {
  categories: {
    name: string[]
    slug: string[]
    count: number
  }[]
}

const { categories } = Astro.props
---

{
  categories.length === 0 ? (
    <div class="text-center text-sm">作者懒得分类🤪</div>
  ) : (
    <div class="space-y-2.5">
      {categories.map((category) => (
        <div class="relative block group space-y-2.5" >
          <div class="px-2.5 py-2 text-sm flex gap-1 select-none rounded-lg bg-accent/10 transition group-hover:bg-accent/20 group-hover:scale-100">
            <i class="shrink-0 iconfont icon-menu" />
            <span class="grow">{category.name[0]}</span>
            <span class="shrink-0">{category.count}</span>
          </div>
          <div class="hidden ml-4 rounded-lg border border-primary group-hover:block">
            <SubCategoryList supName={category.name[0]} />
          </div>
        </div>
      ))}
    </div>
  )
}
