---
import Highlight from '@/components/Highlight.astro'
import MainPageLayout from '@/layouts/MainPageLayout.astro'
import { Comments } from '@/components/comment'

const pageName = "留言板";
---
<MainPageLayout showCategories={true} showTags={true}>
  <div class="mx-auto px-4 py-16">
    <header class="space-y-4 mb-8">
      <h1 class="text-4xl font-bold">
        <Highlight>{pageName}</Highlight>
      </h1>
    </header>
    <div>
      <Comments />
    </div>
  </div>
</MainPageLayout>