---
interface Props {
  categories: {
    name: string[]
    slug: string[]
    count: number
  }[]
}

const { categories } = Astro.props
---

{
  categories.length === 0 ? (
    <div class="text-center text-sm">作者懒得分类🤪</div>
  ) : (
    <div class="flex flex-wrap gap-2.5">
      {categories.map((category) => (
        <a class="relative block group" href={`/categories/${category.slug.join('/')}`}>
          <div class="px-2.5 py-2.5 text-sm flex gap-1 select-none rounded-lg bg-accent/10 hover:transition hover:bg-accent/20 hover:scale-105">
            <span class="grow">{category.name[category.name.length - 1]}</span>
            <span class="shrink-0">{category.count}</span>
          </div>
        </a>
      ))}
    </div>
  )
}
