---
interface Props {
  categories: {
    name: string[]
    slug: string[]
    count: number
  }[]
}

const { categories } = Astro.props
---

{
  categories.length === 0 ? (
    <div class="text-center text-sm">作者懒得分类🤪</div>
  ) : (
    <div class="space-y-2.5">
      {categories.map((category) => (
        <a class="relative block group" href={`/categories/${category.slug[0]}`}>
          <div class="px-2.5 py-2 text-sm flex gap-1 select-none rounded-lg bg-accent/10 hover:transition hover:bg-accent/20 hover:scale-105">
            <i class="shrink-0 iconfont icon-menu" />
            <span class="grow">{category.name[0]}</span>
            <span class="shrink-0">{category.count}</span>
          </div>
        </a>
      ))}
    </div>
  )
}
