---
interface Props {
  title?: string
  id?: string
  style?: string
}

const { title, id = "section", style = "mt-4 mb-4 text-lg font-bold uppercase tracking-widest text-accent" } = Astro.props
---

<section id={id}>
  {title && <div class={style}>{title}</div>}
  <slot />
</section>
