---
interface Props {
  title: string
  style?: string
}

const { title, style = "mt-4 mb-8 font-bold uppercase tracking-widest text-accent" } = Astro.props
---

<section>
  <div class={style}>{title}</div>
  <slot />
</section>
